@model IEnumerable<CustomerApplication.Models.DIVISIONViewModel>
@{
    ViewBag.Title = "Divisions";
}
<link href="~/Content/bootstrap.css" rel="stylesheet">
<h2>@ViewBag.Title</h2> 

<div class="container">
    @if (Model != null){
        <table class="table table-striped">
            <tr>
                <th>IDENTIFIANT</th>
                <th>NOM</th>
                <th>DESCRIPTION</th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.divisionId</td>
                        <td>@item.divisionNom</td>
                        <td>@item.divisionDesc</td>
                        <td>
                            <a href="#" onclick="confirmDelete(@item.divisionId" class="btn btn-danger">    <i class="glyphicon glyphicon-trash"></i> </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
    @using (Html.BeginForm("gotoNewDivision", "Home", FormMethod.Post))
    {
        <input type="submit" value="Nouvelle division" class="btn btn-block btn-primary">
    }
</div>
