@model RedactApplication.Models.COMMANDEViewModel

@{
    ViewBag.Title = "Details";
}

@section Scripts{
<script type="text/javascript" src="~/Scripts/js/clipboard.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var clipboard = new ClipboardJS('.btn-copy', {
                text: function () {
                    var htmlBlock = document.querySelector('.contenu-livre');
                    return htmlBlock.innerHTML;
                }
            });
            clipboard.on('success', function (e) {
                console.log(e);
            });
            clipboard.on('error', function (e) {
                console.log(e);
            });
           
        });
   
    </script>
}

<main id="wrapper">
    <div id="single-container">
        <div class="onglets ease-in-out">
            <ul>
                <li><a href="">Utilisateurs</a></li>
                <li><a href="" class="active">Commandes</a></li>
                <li><a href="">Dolor sit amet</a></li>
            </ul>
        </div>
        <div class="card back-office with-shadow">
            <div class="head">
                <h1>Commande n° 001</h1>
            </div>

            <!-- Champs -->
            <div class="container clearfix">
                <div class="row">
                    <section class="col-md-7 commande-view">
                        <div class="section-title">
                            <span>livrable</span>
                        </div>
                        <div class="wrap">
                            <span>
                                <strong>Titre : </strong>Turpis sapien molestie sem, hendrerit aliquam
                            </span>
                            <span>
                                <strong>Contenu : </strong>
                                <div class="commande-contenu">
                                    <p>Aenean consectetur lacinia mollis. In eleifend erat non neque maximus, sed posuere lectus imperdiet. Nullam dui ante, ullamcorper non consequat ut, pulvinar non arcu. Ut id ante a diam faucibus pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras metus nisl, tempor et tincidunt in, semper et dolor. Vestibulum cursus, neque at sodales ultrices, velit nibh maximus turpis, ut euismod lacus massa vehicula ipsum. Vivamus accumsan volutpat lorem, nec tristique lorem pharetra nec. Vestibulum id lectus purus.</p>
                                    <p>Integer eleifend tellus vitae augue elementum condimentum. Cras vel facilisis felis. Aenean congue, justo a pharetra condimentum, turpis sapien molestie sem, hendrerit aliquam tellus massa eu dolor. Pellentesque gravida mattis mi, non egestas mauris luctus at. Pellentesque semper vestibulum diam. Quisque at tincidunt leo.</p>
                                </div>
                                <div class="contenu-footer flex-content flex-jsbet-acenter">
                                    <span>354 sur 500 Caractère(s) utilisé(s)</span>
                                    <span id="copy">Copier</span>
                                </div>
                            </span>
                        </div>
                    </section>
                    <section class="col-md-5 commande-resume">
                        <div class="section-title">
                            <span>Récapitulatif</span>
                        </div>
                        <div class="wrap with-shadow">
                            <span>
                              <strong>Demandeur :</strong>
                              @Html.DisplayFor(model => model.commandeDemandeur)
                            </span>
                            <span>
                                <strong>Redacteur  :</strong>
                                @Html.DisplayFor(model => model.commandeRedacteur)
                            </span>
                            <span>
                              <strong>Date de Commande :</strong>
                              @Html.DisplayFor(model => model.date_cmde)
                            </span>
                            <span>
                              <strong>Date de livraison :</strong>
                              @Html.DisplayFor(model => model.dateLivraisonReel)
                            </span>
                            <span>
                               <strong>Ordre de priorité :</strong>
                               @Html.DisplayFor(model => model.ordrePriorite)
                            </span>                           
                            <span>
                                <strong>Site :</strong>
                                @Html.DisplayFor(model => model.projet)
                            </span>
                            <span><strong>Thème :</strong>
                                @Html.DisplayFor(model => model.thematique)
                            </span>
                            <span>
                               <strong>Type de contenu :</strong>
                               Lorem ipsum
                            </span>
                            <span><strong>Mot clé principal :</strong>
                                @Html.DisplayFor(model => model.mot_cle_pricipal)
                            </span>
                            <span>
                                <strong>Mot clé secondaire :</strong>
                                @Html.DisplayFor(model => model.mot_cle_secondaire)
                            </span>
                            <span>
                                <strong>Texte d'ancrage :</strong>
                                @Html.DisplayFor(model => model.texte_ancrage)
                            </span>
                            <span>
                                @Html.DisplayFor(model => model.consigne_references, new { @class = "input" })
                                <br />
                                @Html.DisplayFor(model => model.consigneType, new { @class = "input" })
                                <br />
                                @Html.DisplayFor(model => model.consigne_autres, new { @class = "input" })
                            </span>
                        </div>

                    </section>
                </div>
            </div>

        </div>
    </div>
</main>


@*<main class="wrapperpages">
    <div class="page pagesDivision clear">

        <section class="column2 rightDivision fullWidth">
            <div class="rowpad">
                <div>
                    <div class="admin-link-menu">

                        <a href="~/Home/ListeUser" class="admin-link ">Utilisateurs</a>
                        <a href="~/Commandes/ListCommandes" class="admin-link active">Commandes</a>
                    </div>
                    <!-- end admin menu -->
                </div>
                <div id="divisionContent">
                    <div class="breadcrumb">
                        <span>Commande > Détails de la commande</span>
                        <hr />
                    </div>
                    <!-- top panel -->
                    <div id="inner-top-panel" class="hidepanel clear">
                        <div class="left search-bloc">
                            <form method="get" action="" class="usr-srch">
                                <div class="usr-srch--input-wrapper">
                                    <input class="usr-srch--input" type="search" placeholder="Search" />
                                </div>
                                <input class="usr-srch--submit" type="submit" value="&#xf002;">
                            </form>
                        </div>

                        <div class="right usr-create">
                            <a href="#" title="Editer commande" class="green-btn">Editer commande</a>
                        </div>
                    </div>
                    <!-- end top panel -->

                    <div class="useredits innerform-container">

                        <div class="dashEdit-user item-container">
                            <i class="fa fa-3x"><img src="~/images/icon-create-custom.png" alt="Photo icon profil"></i>
                            
                            @if (Model != null)
                            {
                                <div class="center_blc">

                                    <fieldset>
                                        <div class="inline-form clr">
                                            <input type="hidden" value="@Model.commandeId" name="idCommande">
                                            <div>
                                                    <span>Demandeur</span>
                                                    @Html.DisplayFor(model => model.commandeDemandeur, new { @class = "input" })
                                            </div>
                                            <div>
                                                    <span>Rédacteur</span>
                                                    @Html.DisplayFor(model => model.commandeRedacteur, new { @class = "input" })
                                            </div>
                                            <div>
                                                    <span>Date de commande </span>
                                                    @Html.DisplayFor(model => model.date_cmde, new { @class = "input" })
                                            </div>
                                            <div>
                                                    <span>Date de livraison </span>
                                                    @Html.DisplayFor(model => model.dateLivraisonReel, new { @class = "input" })
                                                 @if (Model.dateLivraisonReel > Model.date_livraison)
                                                 {
                                                    <span>Livraison en retard (prévue le @Model.date_livraison)</span> 
                                                 }
                                            </div>
                                            <div>
                                                <span>Ordre de priorité</span>
                                                @Html.DisplayFor(model => model.ordrePriorite, new { @class = "input" })
                                            </div>
                                            <div>
                                                <span>Site </span>
                                                @Html.DisplayFor(model => model.projet, new { @class = "input" })
                                            </div>
                                            <div>
                                                    <span>Thème </span>
                                                    @Html.DisplayFor(model => model.thematique, new { @class = "input" })
                                            </div>
                                            <div>
                                                    <span>Type de Textes </span>
                                                    @Html.DisplayFor(model => model.commandeType, new { @class = "input" })
                                            </div>
                                            <div>
                                                <span>Nombre de mots</span>
                                                @Html.DisplayFor(model => model.nombre_mots, new { @class = "input" })
                                            </div>
                                            <div>
                                                    <span>Mots clé principal</span>
                                                    <p> @Html.DisplayFor(model => model.mot_cle_pricipal, new { @class = "input" })</p>
                                                    <span>Mots clé secondaire</span>
                                                    <p> @Html.DisplayFor(model => model.mot_cle_secondaire, new { @class = "input" })</p>
                                                    <span>Texte d’ancrage</span>
                                                    <p> @Html.DisplayFor(model => model.texte_ancrage, new { @class = "input" })</p>
                                            </div>

                                            <div>
                                                    <span>Consignes </span>
                                                    @Html.DisplayFor(model => model.consigne_references, new { @class = "input" })
                                                    <br/>
                                                    @Html.DisplayFor(model => model.consigneType, new { @class = "input" })
                                                    <br/>
                                                    @Html.DisplayFor(model => model.consigne_autres, new { @class = "input" })
                                                
                                            </div>
                                            <div class="cmde-livre"> 
                                                <div>
                                                    <span>Titre </span>
                                                    <p>@Html.DisplayFor(model => model.balise_titre, new {@class = "input"})</p>
                                                </div>
                                                <div>
                                                    <span>Contenu </span>
                                                 
                                                    <div class="contenu-livre">@Html.Raw(Model.contenu_livre)</div>
                                                   
                                                   
                                                    <span>@ViewBag.ComptMetaContenu / @Html.DisplayFor(model => model.nombre_mots, new { @class = "input" })</span>
                                                    
                                                    <button class="btn-copy" data-clipboard-action="copy" data-clipboard-target=".contenu-livre">Cut</button>
                                                  
                                                    
                                                </div>
                                                <div>
                                                    <span>Statut de la commande </span>
                                                    <p> @Html.DisplayFor(model => model.statut_cmde, new { @class = "input" })</p>
                                                </div>

                                            </div>
                                          
                                            <div>
                                                
                                                    <span>Notification paiement </span>
                                                    @if (Model.etat_paiement == true)
                                                    {
                                                        <p>Payé</p>
                                                    }
                                                    else
                                                    {
                                                        <p>Non payé</p>
                                                    }
                                                  
                                               
                                            </div>
                                           
                                            <div class="clear"></div>

                                            <div class="btn-submit sav_us1">
                                              
                                                @Html.ActionLink("Liste commande", "ListCommandes", "Commandes", new { }, new { @class = "resetbtn cacel_us1 left_b1" })
                                            </div>

                                        </div>
                                    </fieldset>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>*@









