
@{
    ViewBag.Title = "ListCommandes";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";

}

@section css
{
    <link href="@Url.Content("~/Content/css/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery.dataTables.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/dataTables.css")" rel="stylesheet" />
    <link href="~/Content/themes/smoothness/jquery-ui.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/codescript.js")"></script>
    <script>
        $("ul.LinkSearchClear").css("display", "none");
    </script>
          
  
}

<main class="wrapperpages">
    <div>
        <section>
            <div class="page pagesDivision clear">
                <section class="column2 rightDivision fullWidth">
                    <div class="rowpad">
                        <div>
                            <div class="admin-link-menu">

                                @if (@Session["role"] != null && @Session["role"].ToString() != "2")
                                {
                                    <a href="~/Home/ListeUser" class="admin-link">Utilisateurs</a>
                                }  
                                <a href="~/Commandes/ListCommandes" class="admin-link active">Commandes</a>
                            </div>
                            <!-- end admin menu -->
                        </div>
                        <div id="divisionContent">
                            <div class="breadcrumb">
                                <span>Commandes</span>
                                <hr />
                            </div>
                                                        <!-- top panel -->
                            <div id="inner-top-panel" class="showpanel clear">
                                <div class="left search-bloc">
                                    @using (Html.BeginForm("CommandesSearch", "Commandes", FormMethod.Post, new { @class = "usr-srch" }))
                                    {
                                        <div class="usr-srch--input-wrapper">
                                            @Html.AntiForgeryToken()
                                            <i class="fa fa-times-circle cancelText"></i>
                                            <input class="usr-srch--input" type="search" placeholder="Search" name="searchValue" id="ValUserSearch" title="Search by name,surname,email">
                                        </div>
                                        <input class="usr-srch--submit" type="submit" value="&#xf002;" id="UserSearchSubmit">
                                    }
                                </div>
                               
                            </div>
                            <!-- end top panel -->
                           
                            <div class="tab_fx tab_fxs">
                                <table id="myDataTable" class="trig_table table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="checkbox" onclick="ClickAllCommandeInListCommande()" id="checkAllCmde" />
                                        </th>
                                        <th>#</th>
                                        <th>Demandeur</th>
                                        <th>Redacteur</th>
                                        <th>Date de la commande</th>
                                        <th>Date de la livraison</th>
                                        <th>Projet</th>
                                        <th>Thématique</th>
                                        <th>Type de textes</th>
                                        <th>Etat commande </th>
                                        <th>Notification paiement</th>
                                        <th class="option">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="t1">
                                    @if (ViewBag.listeCommandeVms != null)
                                    {
                                        int count = 0;
                                        foreach (var item in ViewBag.listeCommandeVms)
                                        {
                                            <tr>
                                                <td><input type="checkbox" class="checkbox" name="selectedCmde" value="@item.commandeId" /></td>
                                                <td>@item.commandeREF</td>
                                                <td>@item.commandeDemandeur</td>
                                                <td>@item.commandeRedacteur</td>
                                                <td>@item.date_cmde</td>
                                                <td>@item.date_livraison</td>
                                                <td>@item.projet </td>
                                                <td>@item.thematique</td>
                                                <td>@item.commandeType</td>
                                                <td>@item.statut_cmde</td>
                                                <td>
                                                    @if (@item.etat_paiement == true)
                                                    {
                                                        <span>Payé</span>
                                                    }
                                                    else 
                                                    {
                                                        <span>Non payé</span>
                                                    }
                                                </td>
                                                <td>
                                                    <!--ViewBag.numpage/ViewBag.nbrow-->
                                                    <div class="option">
                                                        <a href="~/Commandes/DetailsCommandeAValider/@item.commandeId" title="Détails Commande"><i class="fa fa-eye"></i></a>
                                                       
                                                    </div>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                        if (ViewBag.listeCommandeVms.Count == 0)
                                        {
                                            <tr><td>No records found.</td></tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</main>

<div id="DeleteDatadialog" style="display: none">
    @Html.Partial("~/Views/Commandes/ErrorNoSelection.cshtml")
</div>
<div id="SearchUserNoResultat" style="display: none">
    @Html.Partial("~/Views/Shared/SearchNoResultat.cshtml")
</div>
<!--  Dialogue de confirmation suppression d'utilisateur  -->
<div id="deleteAllUserPoPup" style="display: none">
    @Html.Partial("~/Views/Commandes/DeleteCommande.cshtml")
</div>

<script>
    /*pour la suppression des utilisateurs séléctionnés*/
    var DeleteCommandeClick = function (user) {
        //alert(user);
        if (user !== '') {
            

            $.ajax({
                type: 'POST',
                url: '/Commandes/SelecteAllCommandeToDelete',
                data: { hash: user },
                error: function (ex) {
                    alert('Error: ' + ex.statusText);
                },
                success: function () {
                    $("#deleteAllUserPoPup").modal();
                },
                async: true,
                processData: true
            });
        }
    }

    var DeleteAllCommandeSelected = function (nbrow) {
        var ListUserId = '';
        $('input[name="selectedCmde"]:checked').each(function () {
            ListUserId += $(this).val() + ',';
        });
        if (ListUserId != '') {
            $.ajax({
                type: 'POST',
                url: '/Commandes/SelecteAllCommandeToDelete',
                data: { hash: ListUserId.substring(0, (ListUserId.length - 1)) },
                error: function (ex) {
                    //alert('Error: ' + ex.statusText);
                },
                success: function () {
                    $("#deleteAllUserPoPup").modal();
                },
                async: true,
                processData: true
            });
        } else {
            $("#DeleteDatadialog").modal();
        }
    }

    var ListUserData = function () {
        var selectBox = document.getElementById("nbrowpage");
        var nbrow = selectBox.options[selectBox.selectedIndex].value;
        $.ajax({
            type: 'POST',
            url: '/Commandes/ReInitPagination',
            data: { hash: "paginationChange" },
            success: function (data) {
                window.location.href = nbrow;
            }
        });
    }



</script>

