<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <!-- TOUJOURS APPELER -->
    <link rel="stylesheet" href="~/Content/css/layout/layout.css">
    <link rel="stylesheet" href="~/Content/css/base/reset.css">
    <link rel="stylesheet" href="~/Content/css/base/common.css">
    <link rel="stylesheet" href="~/Content/css/elements/forms.css">

    <title>Media click App </title>
    @RenderSection("css", required: false)
   

</head>
<body>
    <header>
        <div id="top-bar" class="clearfix with-shadow">
            <div class="pull-left">
                <a href="#" class="logo">
                    <img src="~/images/logo_mc_large.png" alt="MediaClick" srcset="">
                </a>
            </div>

            <div class="pull-right">
                <div class="notifications">
                    <i id="notification-bell"></i>
                    <div>

                    </div>
                </div>

                <a href="#" class="profil">
                    <span id="user-name">@Session["name"] @Session["surname"] </span>
                    <span id="user-avatar">
                        <img src="~/images/avatar.png" alt="" srcset="">
                    </span>
                </a>
                <div class="profil-menu with-shadow">
                    <div class="flex-content flex-jsbet-acenter profil-setting">
                        <span>
                            <img src="images/avatar.png" alt="" srcset="" class="user-photo" />
                        </span>
                        <div>
                            <span class="user-name">Rakoto be</span>
                            <a href="#" class="user-mail link">rakotobe@gmail.com</a>
                            <button class="btn btn-success btn-small">Modifier</button>
                        </div>
                    </div>
                    <a href="javascript:void(0)">Lorem ipsum dolor</a>
                    <a href="javascript:void(0)">Lorem ipsum dolor</a>
                    <a href="javascript:void(0)">Lorem ipsum dolor</a>
                    <button class="logout"  onclick="@("window.location.href='" + @Url.Action("LogoutPage", "Login") + "'");">Deconnexion</button>
                </div>                
            </div>
        </div>
    </header>


    
 
    <main class="wrapperpages">
        <div class="body-content">

            @RenderBody()
            <footer></footer>

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("AddToHead", required: false)
        <script src="~/Scripts/GestionVue.js"></script>

        <script src="~/Scripts/codescript.js"></script>

    </main>

</body>

</html>
