@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts
{
    <link rel="stylesheet" href="~/Content/css/elements/login.css">

}

<main>
    <div class="login-container flex-content flex-jcenter-acenter flex-col">
        <div class="login-form with-shadow">
            <div class="head gradient-blue">
                <h1>Bienvenue !</h1>
                <p>Lorem ipsum dolor sit amet, Nunc posuere libero id auctor efficitur. Aenean posuere leo quis dolor iaculis</p>
            </div>
            <div class="content-section">
               @using (Html.BeginForm("AuthentificationUser", "Login", FormMethod.Post, new { @class = "formfields" }))
               {
                    <label for="Myemail" class="mail-input">                       
                        @Html.TextBoxFor(x => x.userMail, new {  @placeholder = "E-mail", @required = true,@type= "email" })
                    </label>
                    <label for="Mypassword" class="pass-input">
                        @Html.PasswordFor(x => x.userMotdepasse, new { @placeholder = "Mot de passe", @required = true, @type ="password" })
                    </label>
                    <div class="flex-content flex-jcenter-acenter save-content">
                        <span class="SavePass">
                           @Html.CheckBoxFor(x => x.saveOnComputer, new { @checked = "checked",@type ="checkbox" })
                            Se souvenir de moi
                        </span>
                       
                        @Html.ActionLink("Mot de passe oublié ?", "ForgotPassword", "Login", new { @class = "link forgotPass" })
                    </div>
                    <input type="submit" value="Connexion" class="btn btn-primary">
                }
            </div>
        </div>
        <a href="#" class="watermark-mc">
            <img src="/images/powered-by.jpg" alt="" srcset="">
        </a>
    </div>
</main>

@if (Model != null)
{
    <script>
        document.getElementById('userMotdepasse').value = '@Model.userMotdepasse';
    </script>
}



